
/*****CONFIGURACIONES DE LA PAGINA*****/
body{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
}
/*********Colores**********/
.t-red{
    color: red;
}
.t-primario{
    color: #138daa;
}
.t-secundario{
    color: #22efd1;
}
.t-terciario{
    color: #0b3aB8;
}
.bg-primario{
    background-color: #138daa;
}
.bg-secundario{
    background-color: #22efd1;
}
.bg-terciario{
    background-color: #0b3aB8;
}
.bb-blanco{
    background-color: #fff;
}
header{
    width: 100%;
    height: 100px;
    background-color:#138daa ;
}
body{ 
    margin: 0px auto;
}
/********BARRA********/
.barra ul{
    list-style-type: none;

}
.barra ul li{
    display: inline-block;
    width: 10%;
}
.barra ul li a{
    text-decoration: none;
    color: #138daa;

}
.barra{
    width: 100%;
    height: 30px; 
    
    text-align: center;
}
#logo{
    width: 80px;
    height: 80px; 
    border-radius: 150px;
    background-image: none;
}
#login{
    display: inline;
    float: right;
    color: #ffff;
    margin-top: 30px;
    margin-left: 10px;
}
.card{
    border: 1px solid #AAA;
    width: 250px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 0px 0px 8px 8px;
    
}
.super_img img{
    width: auto;
    height: 100%;
}
.super_img{
    /*border: 1px solid red;*/
    width: 250px;
    height: 250px;
}
.titulo_comic{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}
.disponible{
    font-size: 10px;
}
.precio{
    padding: 20px 0px;
    font-size: 25px;
}

section{
    text-align: center;
}
.btn{
    text-align: center;
    border: 2px solid #138daa ;
    border-radius: 8px;
    padding: 5px 0px;
    margin: 10px 80px;
    text-decoration: none;
    transition: 0.4s;
}
.btn a{
    text-decoration: none;
    font-weight: bold;
}
.btn-up a{
    color: #22efd1;
    font-weight: bold;
}
.btn-up:hover,.btn-up:focus{
    border-color: #22efd1 ;
    color: #000;
    box-shadow:inset 0 -3.50em 0 0 #22efd1;
}
.btn-up:hover a{
    color: #138daa ;
}